.navbar {
  display:flex;
  height:60px;
  justify-content: space-around;
  background-color: red;
  width:80%;
  margin:auto;
}


form {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin:auto;
}

.allProjects {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height:90vh;
}

.project {
  display:flex;
  width:80%;
  margin:auto;

}

.issues {
  display:flex;
  justify-content: space-around;
  width:80%;
  flex-direction: column;
  margin-right:auto;
  background-color: greenyellow;
  flex-basis:20%;
  margin:auto;
}

.issue {
  display:flex;
}

.item {
  flex-basis: 100%;
  text-align: justify;
}

.item-end {
  text-align: right;
}
